.footerContainerOuter {
    margin: auto auto;
    display: block;
    max-width: 100%;
    background-color: $color-background-dark;
    color: $color-text-light;
    height: 3rem;
    border-top: thin solid $color-border;
}

.footerContainerInner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
