$primary-color: #17a2b8;
$dark-color: #343a40;
$light-color: #f4f4f4;
$danger-color: #dc3545;
$success-color: #28a745;
$background-color: #fff;
$page-background-color: #fff;
$content-background-color: rgb(237, 247, 253);
$highlight-color: orange;
$highlight-hover-color: hsl(39, 100%, 43%);
$highlight-active-color: hsl(39, 100%, 40%);
$h1-color: #777;
$border-color: #ccc;
$test-color: hsl(0, 0%, 90%);
