// Backgrounds
$color-background-primary: rgb(255, 255, 250);
$color-background-secondary: hsl(158, 12%, 94%);
$color-highlight: hsl(199, 45%, 88%);
$color-background-dark: hsl(215, 50%, 23%);
$color-background-danger: hsl(354, 70%, 54%);
$color-background-success: hsl(134, 59%, 40%);

//Text:
$color-text-header: hsl(258, 69%, 13%);
$color-text-body: hsl(233, 9%, 19%);
$color-text-light: hsl(60, 100%, 100%);
$color-text-system: hsl(0, 0%, 61%);
$color-text-error: hsl(4, 100%, 71%);
$color-text-success: hsl(134, 77%, 71%);
$color-text-name: hsl(204, 100%, 38%);

//Misc
$color-border: hsl(240, 49%, 85%);
$color-border-hover: hsl(240, 73%, 75%);
$color-border-danger: hsl(0, 71%, 67%);
$color-interactive: hsl(247, 67%, 63%);
$color-interactive-hover: hsl(253, 78%, 58%);
$color-interactive-active: hsl(261, 96%, 54%);
$color-interactive-danger: hsl(354, 70%, 54%);
$color-interactive-danger-hover: hsl(354, 89%, 55%);
$color-interactive-danger-active: hsl(354, 100%, 50%);
