/* Global Styles */
:root {
    --primary-color: #17a2b8;
    --dark-color: #343a40;
    --light-color: #f4f4f4;
    --danger-color: #dc3545;
    --success-color: #28a745;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background-color: #fff;
    color: #333;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Required */

/* Utilities */
.container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
    margin-top: 6rem;
    margin-bottom: 3rem;
}

.smallContainer {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.spinnerContainer {
    width: 200px;
    margin: 'auto';
    display: 'block';
}

.spinner-button {
    width: 40px;
}

.spinner-tiny {
    width: 20px;
}

/* Forms */
.form .form-group {
    margin: 1.2rem 0;
}

.form-error-message {
    color: rgb(255, 0, 0);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.form-error-field {
    border-color: #dc3545 !important;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form select,
.form textarea {
    display: block;
    width: 100%;
    padding: 0.4rem;
    font-size: 1.2rem;
    border: 1px solid #ccc;
}

.form input[type='submit'],
button {
    font: inherit;
}

/* Text */

.lead {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.x-large {
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.large {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.text-primary {
    color: var(--primary-color);
}

/* Buttons */

.btn {
    display: inline-block;
    background: var(--light-color);
    color: #333;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    transition: opacity 0.2s ease-in;
    outline: none;
}

.btn-primary {
    background: var(--primary-color);
    color: #fff;
}

.btn-light {
    background: var(--light-color);
    color: #333;
}

.btn:hover {
    opacity: 0.8;
}

/* Landing Page */
.landing {
    background: white;
}

.landing-inner {
    color: #fff;
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Overlay */
.dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 2rem;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    border-bottom: solid 1px var(--primary-color);
    opacity: 0.9;
}

.bg-dark {
    background: var(--dark-color);
    color: #fff;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: #fff;
    padding: 0.45rem;
    margin: 0 0.25rem;
}

.navbar a:hover {
    color: var(--primary-color);
}

@media (max-width: 700px) {
    .container {
        margin-top: 8rem;
    }

    .hide-sm {
        display: none;
    }

    /* Text Styles */
    .x-large {
        font-size: 3rem;
    }

    .large {
        font-size: 2rem;
    }

    .lead {
        font-size: 1rem;
    }

    /* Navbar */
    .navbar {
        display: block;
        text-align: center;
    }

    .navbar ul {
        text-align: center;
        justify-content: center;
    }

    .navbar h1 {
        margin-bottom: 1rem;
    }
}

/* Not Required */

/* Text Styles*/
