.BasicListContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.ListTitleBar {
    margin-bottom: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: calc(min(10%, 3rem)) 1fr calc(min(10%, 3rem));
    grid-template-rows: 1fr 1px;
    align-items: center;

    &-title {
        justify-self: center;
        text-align: center;
        grid-column: 2/3;
        width: 100%;
    }

    &-controls {
        color: $highlight-color;
        font-size: 1.2rem;
        justify-self: center;
        grid-column: 3/4;

        &:hover {
            color: darken($highlight-color, 5%);
        }

        &:active {
            color: darken($highlight-color, 10%);
        }
    }

    &-hr {
        border: 0;
        border-top: 1px solid $border-color;
        grid-column: 1 / 4;
        grid-row: 2;
    }
}

.basicListItemContainer {
    width: calc(min(100%, 50rem));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.basicListItem {
    width: 100%;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    border-color: $border-color;
    border-width: thin;

    &:nth-child(n + 1) {
        border-bottom-style: solid;
    }

    &:nth-child(1) {
        border-top-style: solid;
    }
}

.basicListItem-main {
    grid-row: 1/2;
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 2rem auto calc(max(26%, 6rem)) 3.2rem;
    grid-template-rows: 1fr;

    &-select {
        color: chocolate;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-body {
        word-wrap: break-word;
        word-break: break-all;
        hyphens: auto;
        grid-column: 2;
    }

    &-selected {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 0.5rem;
        grid-column: 3;
    }

    &-controlsContainer {
        display: flex;
        justify-content: center;
        grid-column: 4;

        &-controls {
            font-size: 1.2rem;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.basicListItem-links {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 3.5rem;

    &-linkContainer {
        height: 1.5rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.basicListNewItemContainer {
    margin: 1rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.basicListNewItemButton {
    // display: flex;
    // justify-content: center;
}

.newListItemFormContainer {
    width: calc(min(28rem, 100%));
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.basicListModifyItemOverlay {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(min(28rem, 100%));
    background-color: $content-background-color;
    border: $border-color;
    border-style: solid;
    border-width: thin;
}
