.BasicListContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.ListTitleBar {
    margin-bottom: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: calc(min(10%, 48px)) 1fr calc(min(10%, 48px));
    grid-template-rows: 1fr 1px;
    align-items: center;

    &-title {
        justify-self: center;
        text-align: center;
        grid-column: 2/3;
        width: 100px;
    }

    &-controls {
        color: $highlight-color;
        font-size: 1.2rem;
        justify-self: center;
        grid-column: 3/4;

        &:hover {
            color: darken($highlight-color, 5%);
        }

        &:active {
            color: darken($highlight-color, 10%);
        }
    }

    &-hr {
        border: 0;
        border-top: 1px solid $border-color;
        grid-column: 1 / 4;
        grid-row: 2;
    }
}
