.giftListListLabel {
    width: 100%;
    padding-left: 1rem;
}

.giftListChatContainer {
    border-top: thin solid $border-color;
}

.giftListChat {
    margin: 1rem 0;
}

.giftListChatControlsContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}
