.newListControls {
    display: grid;
    grid-template-columns: calc(min(30rem, 100%)) 2fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;

    &-hr {
        width: 100%;
        grid-column: 1 / 3;
        grid-row: 2;
        height: min-content;
    }

    &-selectorContainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: 1.5rem;
        grid-column: 1 / 2;
        grid-row: 1;
        width: 100%;
    }

    &-button {
        text-align: center;
        color: $highlight-color;
        height: 1.5rem;
        width: 100%;

        &:hover {
            background-color: $test-color;
        }

        &-active {
            background-color: $test-color;
        }
    }

    // &-newList {
    //     margin: 0 auto;
    // }

    // &-filters {
    //     margin: 0 auto;
    //     display: grid;
    //     grid-template-columns: 1fr 1fr;
    //     overflow: visible;
    // }

    // &-item {
    //     margin: 0 auto;
    //     color: $highlight-color;
    //     overflow: visible;
    //     cursor: pointer;
    //     &:hover {
    //         color: $highlight-hover-color;
    //     }

    //     &-active {
    //         color: $highlight-hover-color;
    //     }
    // }
}
