.childListPreviewCard {
    height: 24rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-color: $color-border;
    border-style: solid;
    cursor: pointer;
    background-color: $color-background-secondary;
    color: $color-text-system;

    &:hover {
        color: $color-background-dark;
        opacity: 1;
        border-color: $color-interactive;
    }
}

.parentListContentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
    width: 100%;
}

.parentListAddListButton {
}
