.alert-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    z-index: 2;
    top: 3%;
    left: 50%;
    transform: translate(-50%, 0%);
    // background-color: red;
    height: 100vh;
}

.alert {
    padding: 0.8rem;
    margin: 1rem 0;
    opacity: 0.9;
    background-color: light-color;
    color: #333;

    &-error {
        background-color: $error-background;
        color: $error-text;
    }
}
