.btn {
    display: inline-block;
    background: $light-color;
    color: $dark-color;
    padding: 0.4rem 0.5rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    // margin-right: 0.5rem;
    transition: opacity 0.2s ease-in;
    outline: none;

    &-primary {
        background: $primary-color;
        color: #fff;

        &:hover {
            background: darken($primary-color, 5%);
        }

        &:active {
            background: darken($primary-color, 10%);
        }
    }

    &-light {
        background: $light-color;
        color: #333;
    }
}

.btn-simple {
    color: $highlight-color;
    cursor: pointer;

    &:hover {
        color: $highlight-hover-color;
    }

    &:active {
        color: $highlight-active-color;
    }
}

.buttons {
    margin: 1rem;
}
