.btn {
    display: inline-block;
    background: $light-color;
    color: $dark-color;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    transition: opacity 0.2s ease-in;
    outline: none;

    &-primary {
        background: $primary-color;
        color: #fff;
    }

    &-light {
        background: $light-color;
        color: #333;
    }

    &:hover {
        opacity: 0.8;
    }
}

.buttons {
    margin: 1rem;
}
