.dropDown {
    position: absolute;
    background-color: $content-background-color;
    border: $border-color;
    border-style: solid;
    border-width: thin;
    overflow: visible;
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: max-content;
    padding: 0.5rem 0;

    &-leftCover {
        transform: translate(-8.8rem, -2.1rem);
    }
}

.dropDownItem {
    color: $highlight-color;
    cursor: pointer;
    padding: 0rem 0.5rem;

    &:hover {
        background-color: $test-color;
    }

    &-selected {
        background-color: $test-color;
    }

    &-checkbox {
        display: flex;
        align-items: center;
    }

    &-name {
        margin-right: auto;
    }

    &-icon {
        margin-left: 0.5rem;
    }

    &-danger {
        width: 100%;
        color: $danger-color;
        border-top-style: dashed;
        border-top-width: thin;
        margin-top: 1rem;
        padding-top: 0.5rem;
    }
}
