.newListExampleCard {
    width: calc(min(30rem, 100%));
    border-color: $color-border;
    border-style: solid;
    background-color: $color-background-primary;
    color: $color-text-system;
    margin: 0.5rem 0;
    overflow: hidden;
    border-radius: 4px;

    &-basicList {
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: auto auto auto 1fr;
        align-items: center;
        padding-bottom: 4rem;
        gap: 1rem;
    }

    &-giftList {
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: auto auto auto auto;
        align-items: center;
        gap: 1.5rem;
    }

    &-giftGroup {
        aspect-ratio: 0.8;
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: auto 1fr;
        align-items: center;
    }
}

.basicListExample {
    &-items {
        width: 100%;
        overflow: hidden;
    }

    &-newItem {
        width: 100%;
        overflow: hidden;
    }

    &-deleteButtons {
        margin-bottom: auto;
        width: 100%;
        display: flex;
        justify-content: space-around;

        &-button {
            width: 7rem;
            text-align: center;
        }
    }
}

.exampleListItemContainer {
    width: 100%;
    gap: 0.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.exampleNewItemContainer {
    margin-top: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.exampleTitleBar {
    width: 100%;
    display: grid;
    grid-template-columns: calc(min(10%, 3rem)) 1fr calc(min(10%, 3rem));
    grid-template-rows: 1fr 1px;
    align-items: center;

    &-title {
        justify-self: center;
        text-align: center;
        grid-column: 2/3;
        width: 100%;
    }

    &-controls {
        color: $color-interactive;
        font-size: 1.2rem;
        justify-self: center;
        grid-column: 3;
        position: relative;
        padding: 0 0.3rem;
    }

    &-hr {
        border: 0;
        border-top: 1px solid $color-interactive;
        grid-column: 1 / 4;
        grid-row: 2;
    }
}

.exampleItem {
    width: 95%;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    border-radius: 4px;
    background-color: $color-background-secondary;
}

.exampleItem-main {
    display: grid;
    grid-template-columns: 2rem auto 3.2rem;
    grid-template-rows: 1fr;

    &-select {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: 1;
    }

    &-body {
        word-wrap: break-word;
        word-break: break-all;
        hyphens: auto;
        grid-column: 2;
        color: $color-text-body;
    }

    &-controlsContainer {
        display: flex;
        justify-content: center;
        grid-column: 3;

        &-controls {
            font-size: 1.2rem;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.giftGroupExampleCardContainer {
    &-outer {
        width: 90%;
        aspect-ratio: 0.85;
        margin: auto;
    }

    &-inner {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(21, 1fr);
        grid-template-rows: repeat(21, 1fr);
        background-color: beige;
        overflow: hidden;
    }

    &-front {
        border-radius: 4px;
        background-color: red;
        grid-column: 6/20;
        grid-row: 2/18;
        overflow: visible;
    }

    &-mid {
        border-radius: 4px;
        background-color: green;
        grid-column: 5/19;
        grid-row: 3/19;
        overflow: visible;
    }

    &-back {
        border-radius: 4px;
        background-color: blue;
        grid-column: 4/18;
        grid-row: 4/20;
        overflow: visible;
    }

    // &-card {
    //     position: absolute;
    //     background-color: sandybrown;
    //     height: 25rem;
    //     width: 25rem;
    //     top: 50%;
    //     left: 50%;
    //     transform: translate(-50%, -50%);
    // }
}
