.form {
    margin: 1rem 0rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &-error-message {
        color: $danger-color;
        margin-top: 0.5rem;
    }

    &-error-field {
        border-color: $danger-color !important;
    }

    input[type='text'],
    input[type='email'],
    input[type='password'],
    input[type='date'],
    select,
    textarea {
        display: block;
        width: 100%;
        padding: 0.4rem;
        font-size: 1.2rem;
        border: 1px solid #ccc;
    }

    input[type='submit'],
    button {
        margin-top: 1rem;
        font: inherit;
    }

    &-group {
        display: flex;
        flex-direction: column;
    }

    &-label {
        align-self: flex-start;
    }

    &-removableField {
        display: flex;
        align-items: center;
    }
}
