.form {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 95%;

    &-singleInput {
        margin: 1rem 0;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        width: 80%;
        align-items: center;
    }

    &-error-message {
        color: $danger-color;
        margin-top: 0.5rem;
    }

    &-error-field {
        border-color: $danger-color;
    }

    &-error-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    input[type='text'],
    input[type='email'],
    input[type='password'],
    input[type='date'],
    select,
    textarea {
        display: block;
        width: 100%;
        padding: 0.4rem;
        font-size: 1.2rem;
        border: 1px solid $border-color;
        border-radius: 4px;
    }

    input[type='submit'],
    button {
        margin-top: 1rem;
        font: inherit;
    }

    &-label {
        align-self: flex-start;

        &-offset {
            margin-left: 0.5rem;
        }
    }

    &-controls {
        margin-top: 0.5rem;
        display: flex;
        justify-content: center;
        gap: 1rem;
    }
}

.form-group {
    display: flex;
    flex-direction: column;

    &WithSideControls {
        display: flex;
        flex-direction: column;
        margin-left: 1.5rem;
    }

    &-inputContainerWithSideControls {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1.5rem;
        align-items: center;
        justify-items: center;
        margin-top: 0.5rem;
    }

    &-inputButtonBelow {
        margin-top: 0.5rem;
    }
}
