.listChatContainerBorder {
    border-top: thin solid $border-color;
}

.listChat {
    margin: 1rem 0;
    padding: 1rem 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    max-height: calc(min(50rem, 75vh));
    overflow-y: scroll;
    scrollbar-color: $highlight-color $highlight-background-strong;
    scrollbar-width: thin;
    word-wrap: break-word;
    background-color: $highlight-background;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background-color: $highlight-background-strong;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $highlight-color;
        border-radius: 10px;
    }
}

.messageContainerOuter {
    width: 100%;
    display: flex;

    &-currentUser {
        justify-content: flex-end;
    }

    &-otherUser {
        justify-content: flex-start;
    }

    &-system {
        justify-content: center;
    }
}

.messageContainerInner {
    padding: 0.25rem 1rem;
    border-radius: 4px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    background-color: $list-item-background-color;
}

.message {
    &-currentUser {
        padding-left: 0.5rem;
    }

    &-otherUser {
        padding-left: 0.5rem;
    }

    &-system {
        color: $h1-color;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-label {
        color: $name-color;
    }
}

.listChatControlsContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.listChatBottom {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.newMessageNotificationContainer {
    z-index: 1;
    position: absolute;
    bottom: 1.25rem;
    border-radius: 10px;
    backdrop-filter: blur(0.2rem);
    background-color: rgba(255, 236, 202, 0.8);
    padding: 0.25rem 0.5rem;
}
