.listPreviewCard {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4rem 18rem 4rem;
    align-items: center;
    justify-content: center;
    border-color: $color-border;
    border-style: solid;
    cursor: pointer;
    background-color: $color-background-secondary;
    color: $color-text-system;

    &:hover {
        color: $color-text-body;
        opacity: 1;
        border-color: $color-border-hover;
    }

    &-header {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-color: $color-text-system-light;
        border-bottom-style: solid;
        border-width: thin;
        border-bottom-style: solid;

        &-variant {
        }

        &-name {
            font-size: 1.3rem;
        }
    }

    &-body {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-rows: repeat(9, 2rem);
        grid-template-columns: 100%;
        justify-content: center;
        align-items: center;
        padding: 0 1rem;

        &-item {
            height: 100%;
            display: grid;
            grid-template-rows: 1;
            grid-template-columns: 1.5rem 1fr;
            overflow: hidden;

            &-text {
                margin: auto 0;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                min-width: 0;
            }

            &-icon {
                margin: auto;
            }
        }
    }

    &-footer {
        height: 4rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 2rem;
        border-color: $color-text-system-light;
        border-top-style: solid;
        border-width: thin;
        border-bottom-style: solid;

        &-row {
            display: grid;
            grid-template-columns: 1.5rem 1fr;
            grid-template-rows: 1;
            align-items: center;
            gap: 0.2rem;

            &-icon {
                margin: auto;
            }
        }
    }
}
