*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

body {
    background-color: $background-color;
}

a {
    color: $primary-color;
    text-decoration: none;
}

ul {
    list-style: none;
}
