body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

.systemMessage {
    font-size: 1rem;
    color: $color-text-system;

    &-dark {
        font-size: 1rem;
        color: darken($color-text-system, 5%);
    }

    &-tag {
        font-size: 0.8rem;
        color: $color-text-system;
    }

    &-tag-small {
        font-size: 0.8rem;
        color: $color-text-system;
        height: 0.8rem;
    }
}

.lead {
    font-size: 1.5rem;
    color: $color-text-header;
}

.title {
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: $color-text-header;
}

.large {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.danger {
    color: $color-background-danger;
}

.success {
    color: $color-background-success;
}

.name {
    color: $color-text-name;
}

.groupName {
    font-size: 1.5rem;
    color: $color-text-name;
}
