.pageContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.mainBodyContainer {
    height: 100%;
}

.mainContentContainerOuter {
    max-width: calc(max(75rem, 66%));
    margin: auto;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: $content-background-color;
    height: 100%;
    padding-bottom: 4rem;
}

.mainContentContainerInner {
    max-width: calc(min(62.5rem, 90%));
    height: 100%;
    margin: auto auto;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: $content-background-color;
}

.footerContainerOuter {
    margin: auto auto;
    display: block;
    max-width: calc(max(75rem, 66%));
    background-color: $content-background-color;
    height: 5rem;
    border-top: 2px solid $dark-color;
}

.footerContainerInner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
