*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  min-height: 100%; }

body {
  min-height: 100%; }

#root {
  background-color: #fff;
  min-height: 100%; }

a {
  text-decoration: none;
  color: #ffa600;
  cursor: pointer; }
  a:hover {
    color: #db8f00; }
  a:active {
    color: #cc8500; }

ul {
  list-style: none; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.6; }

.systemMessage {
  font-size: 1rem;
  color: #9c9c9c; }
  .systemMessage-dark {
    font-size: 1rem;
    color: #8f8f8f; }

.lead {
  font-size: 1.5rem;
  color: #9c9c9c; }

.title {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  color: #9c9c9c; }

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem; }

.text-primary {
  color: #17a2b8; }

.danger {
  color: #dc3545; }

.success {
  color: #28a745; }

.name {
  color: #00a8c2; }

.groupName {
  font-size: 1.5rem;
  color: #00a8c2; }

.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.mainBodyContainer {
  min-height: 100%;
  flex: 1;
  display: flex; }

.mainContentContainerOuter {
  max-width: calc(min(75rem, 100%));
  margin: 0 auto;
  grid-template-columns: 1fr 2fr 1fr;
  background-color: #edf7fd;
  min-height: 100%;
  padding-bottom: 4rem;
  padding-top: 0rem;
  flex-grow: 1; }

.mainContentContainerInner {
  max-width: calc(min(62.5rem, 100%));
  height: 100%;
  margin: auto auto;
  grid-template-columns: 1fr 2fr 1fr;
  background-color: #edf7fd;
  display: flex;
  flex-direction: column;
  align-items: center; }

.footerContainerOuter {
  margin: auto auto;
  display: block;
  max-width: calc(min(75rem, 100%));
  background-color: #edf7fd;
  height: 5rem;
  border-top: thin solid #ccc; }

.footerContainerInner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.btn {
  display: inline-block;
  background: #f4f4f4;
  color: #343a40;
  padding: 0.4rem 0.5rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
  outline: none; }
  .btn-primary {
    background: #17a2b8;
    color: #fff; }
    .btn-primary:hover {
      background: #148ea1; }
    .btn-primary:active {
      background: #117a8b; }
  .btn-light {
    background: #f4f4f4;
    color: #333; }

.btn-simple {
  color: #ffa600;
  cursor: pointer; }
  .btn-simple:hover {
    color: #db8f00; }
  .btn-simple:active {
    color: #cc8500; }

.buttons {
  margin: 1rem; }

.spinnerContainer {
  width: 200px;
  margin: 'auto';
  display: 'block'; }

.spinner-button {
  width: 40px; }

.spinner-tiny {
  width: 20px; }

.spinner-large {
  width: 50px; }

.form {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 95%; }
  .form-singleInput {
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 80%;
    align-items: center; }
  .form-error-message {
    color: #dc3545;
    margin-top: 0.5rem; }
  .form-error-field {
    border-color: #dc3545; }
  .form-error-container {
    display: flex;
    justify-content: center;
    align-items: center; }
  .form input[type='text'],
  .form input[type='email'],
  .form input[type='password'],
  .form input[type='date'],
  .form select,
  .form textarea {
    display: block;
    width: 100%;
    padding: 0.4rem;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 4px; }
  .form input[type='submit'],
  .form button {
    margin-top: 1rem;
    font: inherit; }
  .form-label {
    align-self: flex-start; }
    .form-label-offset {
      margin-left: 0.5rem; }
  .form-controls {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    gap: 1rem; }

.form-group {
  display: flex;
  flex-direction: column; }
  .form-groupWithSideControls {
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem; }
  .form-group-inputContainerWithSideControls {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1.5rem;
    align-items: center;
    justify-items: center;
    margin-top: 0.5rem; }
  .form-group-inputButtonBelow {
    margin-top: 0.5rem; }

.dropDown {
  position: absolute;
  background-color: #edf7fd;
  border: #ccc;
  border-style: solid;
  border-width: thin;
  overflow: visible;
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: max-content;
  padding: 0.5rem 0; }

.listMenuDropDown {
  position: absolute;
  background-color: #edf7fd;
  border: #ccc;
  border-style: solid;
  border-width: thin;
  overflow: visible;
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: max-content;
  padding: 0.5rem 0; }
  .listMenuDropDown-leftCover {
    width: 9.5rem;
    transform: translate(-8.8rem, -2.1rem); }

.dropDownItem {
  color: #ffa600;
  cursor: pointer;
  padding: 0rem 0.5rem; }
  .dropDownItem:hover {
    background-color: #e6e6e6; }
  .dropDownItem-selected {
    background-color: #e6e6e6; }
  .dropDownItem-checkbox {
    display: flex;
    align-items: center; }
  .dropDownItem-name {
    margin-right: auto; }
  .dropDownItem-icon {
    margin-left: 0.5rem; }
  .dropDownItem-danger {
    width: 100%;
    color: #dc3545;
    border-top-style: dashed;
    border-top-width: thin;
    margin-top: 1rem;
    padding-top: 0.5rem; }

.overlay {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(min(28rem, 95%));
  background-color: #edf7fd;
  border: #ccc;
  border-style: solid;
  border-width: thin; }

.overlayContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1.5rem;
  gap: 1rem; }
  .overlayContainer-buttons {
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 100%; }

.underlay {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  cursor: default; }
  .underlay-focus {
    backdrop-filter: blur(0.2rem);
    background-color: rgba(255, 236, 202, 0.8); }

.memberList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #00a8c2; }

.alert-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 3;
  left: 50%;
  transform: translate(-50%, 0%);
  gap: 0.5rem;
  width: calc(min(35rem, 90%)); }

.alert {
  text-align: center;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  visibility: visible; }
  .alert-error {
    background-color: rgba(31, 8, 6, 0.95);
    color: #ff746b; }
  .alert-placeholder {
    position: relative;
    visibility: hidden;
    width: 100%; }

.listContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; }

.listSectionContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 2.5rem;
  margin-top: 0.5rem; }

.listSectionContentContainer {
  width: calc(min(100%, 50rem));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem; }

.listItem {
  width: 100%;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  border-color: #ccc;
  background-color: #e2eff8;
  border-width: thin; }
  .listItem:nth-child(n) {
    border-bottom-style: solid; }
  .listItem:last-child {
    border-bottom-style: none; }

.listItem-main {
  display: grid;
  grid-template-columns: 2rem auto 3.2rem;
  grid-template-rows: 1fr; }
  .listItem-main-select {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1; }
  .listItem-main-body {
    word-wrap: break-word;
    word-break: break-all;
    hyphens: auto;
    grid-column: 2; }
  .listItem-main-controlsContainer {
    display: flex;
    justify-content: center;
    grid-column: 3; }
    .listItem-main-controlsContainer-controls {
      font-size: 1.2rem;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center; }

.listItem-Empty {
  width: 100%;
  display: flex;
  justify-content: center;
  grid-column: 1/4; }

.listItem-links {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  margin-right: 3.5rem; }
  .listItem-links-linkContainer {
    height: 1.5rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #ffa600; }
    .listItem-links-linkContainer:hover {
      color: #db8f00; }
    .listItem-links-linkContainer:active {
      color: #cc8500; }

.listItem-selected {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  padding: 0 0.5rem;
  color: #9c9c9c; }

.listNewItemContainer {
  margin: 1rem 0;
  width: 100%;
  display: flex;
  justify-content: center; }

.newListItemFormContainer {
  width: calc(min(28rem, 100%));
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center; }

.ListTitleBar {
  width: 100%;
  display: grid;
  grid-template-columns: calc(min(10%, 3rem)) 1fr calc(min(10%, 3rem));
  grid-template-rows: 1fr 1px;
  align-items: center; }
  .ListTitleBar-title {
    justify-self: center;
    text-align: center;
    grid-column: 2/3;
    width: 100%; }
  .ListTitleBar-controls {
    color: #ffa600;
    font-size: 1.2rem;
    justify-self: center;
    grid-column: 3/4;
    position: relative; }
    .ListTitleBar-controls:hover {
      color: #e69500; }
    .ListTitleBar-controls:active {
      color: #cc8500; }
    .ListTitleBar-controls-active {
      color: #cc8500; }
  .ListTitleBar-hr {
    border: 0;
    border-top: 1px solid #ccc;
    grid-column: 1 / 4;
    grid-row: 2; }

.giftListListLabel {
  width: 100%;
  padding-left: 1rem; }

.listChatContainerBorder {
  border-top: thin solid #ccc; }

.listChat {
  margin: 1rem 0;
  padding: 1rem 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  max-height: calc(min(50rem, 75vh));
  overflow-y: scroll;
  scrollbar-color: #ffa600 #efebd7;
  scrollbar-width: thin;
  word-wrap: break-word;
  background-color: #edf3f3; }
  .listChat::-webkit-scrollbar {
    width: 8px; }
  .listChat::-webkit-scrollbar-track {
    background-color: #efebd7;
    border-radius: 10px; }
  .listChat::-webkit-scrollbar-thumb {
    background-color: #ffa600;
    border-radius: 10px; }

.messageContainerOuter {
  width: 100%;
  display: flex; }
  .messageContainerOuter-currentUser {
    justify-content: flex-end; }
  .messageContainerOuter-otherUser {
    justify-content: flex-start; }
  .messageContainerOuter-system {
    justify-content: center; }

.messageContainerInner {
  padding: 0.25rem 1rem;
  border-radius: 4px;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  background-color: #e2eff8; }

.message-currentUser {
  padding-left: 0.5rem;
  justify-content: flex-end; }

.message-otherUser {
  padding-left: 0.5rem; }

.message-system {
  justify-content: center; }

.message-label {
  color: #00a8c2; }

.listChatControlsContainer {
  width: 100%;
  display: flex;
  justify-content: center; }

.listChatBottom {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center; }

.newMessageNotificationContainer {
  z-index: 1;
  position: absolute;
  bottom: 1.25rem;
  border-radius: 10px;
  backdrop-filter: blur(0.2rem);
  background-color: rgba(255, 236, 202, 0.8);
  padding: 0.25rem 0.5rem; }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px #17a2b8;
  opacity: 0.9;
  position: relative; }
  .navbar ul {
    display: flex; }
  .navbar a {
    color: #fff;
    padding: 0.45rem;
    margin: 0 0.25rem; }
    .navbar a:hover {
      color: #17a2b8; }

.bg-dark {
  background: #343a40;
  color: #fff; }

.landing-inner {
  color: #fff;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; }

.dashboardFilterControlBar {
  display: grid;
  grid-template-columns: 1fr auto 1fr auto 1fr;
  grid-template-rows: 1fr;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  position: relative;
  border-bottom-style: solid;
  border-width: thin;
  border-color: #ccc; }
  .dashboardFilterControlBar-newList {
    margin: 0 auto;
    grid-column: 2;
    padding: 0 0.5rem; }
  .dashboardFilterControlBar-filters {
    grid-column: 4;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto;
    overflow: visible;
    gap: 1rem; }
  .dashboardFilterControlBar-item {
    margin: 0 auto;
    color: #ffa600;
    overflow: visible;
    cursor: pointer; }
    .dashboardFilterControlBar-item:hover {
      color: #db8f00; }
    .dashboardFilterControlBar-item-active {
      color: #db8f00; }

.dashboardListContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, calc(min(20rem, 95%)));
  margin-top: 1rem;
  margin-bottom: 1rem;
  gap: 1rem;
  justify-content: center; }

.dashboardListPreviewCard {
  height: 24rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-color: black;
  border-style: solid;
  cursor: pointer;
  background-color: #f4f4f4;
  color: #9c9c9c; }
  .dashboardListPreviewCard:hover {
    color: #343a40;
    opacity: 1;
    border-color: orange; }

.dashboardVerifyContainer {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center; }

.dashboardVerifyBody {
  margin: 1rem; }

.childListPreviewCard {
  height: 24rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-color: black;
  border-style: solid;
  cursor: pointer;
  background-color: #f4f4f4;
  color: #9c9c9c; }
  .childListPreviewCard:hover {
    color: #343a40;
    opacity: 1;
    border-color: orange; }

.newListControls {
  display: grid;
  grid-template-columns: calc(min(30rem, 100%)) 2fr;
  grid-template-rows: 1fr 1px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  overflow: hidden; }
  .newListControls-hr {
    border: 0;
    border-top: 1px solid #ccc;
    grid-column: 1 / 3;
    grid-row: 2; }
  .newListControls-selectorContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 1.5rem;
    grid-column: 1 / 2;
    grid-row: 1;
    width: 100%; }
  .newListControls-button {
    text-align: center;
    color: #ffa600;
    height: 1.5rem;
    width: 100%; }
    .newListControls-button:hover {
      background-color: #e6e6e6; }
    .newListControls-button-active {
      background-color: #e6e6e6; }

.newListContentContainer {
  width: 100%;
  height: auto;
  display: grid; }
  @media (min-width: 1000px) {
    .newListContentContainer {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1.5fr; } }
  @media (max-width: 1000px) {
    .newListContentContainer {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr auto 2fr; } }

.newListExampleContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  @media (min-width: 1000px) {
    .newListExampleContainer {
      grid-row: 1/3;
      grid-column: 1; } }
  @media (max-width: 1000px) {
    .newListExampleContainer {
      grid-row: 2;
      grid-column: 1; } }

.newListExampleCard {
  width: calc(min(30rem, 100%));
  aspect-ratio: 0.8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-color: #ccc;
  border-style: solid;
  background-color: #f4f4f4;
  color: #9c9c9c;
  margin-top: 1rem; }

.newListDescriptionContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center; }
  @media (min-width: 1000px) {
    .newListDescriptionContainer {
      margin-top: 2rem;
      grid-row: 1;
      grid-column: 2; } }
  @media (max-width: 1000px) {
    .newListDescriptionContainer {
      grid-row: 1;
      grid-column: 1; } }

.newListFormContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center; }
  @media (min-width: 1000px) {
    .newListFormContainer {
      margin-bottom: 2rem;
      grid-row: 2;
      grid-column: 2; } }
  @media (max-width: 1000px) {
    .newListFormContainer {
      grid-row: 3;
      grid-column: 1; } }
  .newListFormContainer-inner {
    width: calc(min(28rem, 70%)); }

.newListFormInviteeContainer {
  width: 100%;
  margin: 0.5rem 0;
  border-style: solid;
  border-color: #ccc;
  border-width: thin;
  border-radius: 0.2rem;
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap; }

.inviteeElement {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin: 0.5rem 0.5rem; }
  .inviteeElement-remove {
    color: #ffa600;
    margin-left: 0.25rem;
    cursor: pointer; }
    .inviteeElement-remove:hover {
      color: #db8f00; }

.verifyContainer {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center; }

.notFoundContainer {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }

.basicListDeleteItemsContainer {
  margin-top: 2rem;
  width: calc(min(24rem, 80%));
  display: flex;
  justify-content: space-between; }
  .basicListDeleteItemsContainer-button {
    width: 7rem;
    text-align: center; }

.extraAuthButtonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 0rem;
  padding-top: 1rem;
  border-top: thin solid #ccc; }
