*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  overflow: auto; }

#root {
  background-color: #fff; }

a {
  color: #17a2b8;
  text-decoration: none; }

ul {
  list-style: none; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.6; }

.lead {
  font-size: 1.5rem;
  color: #777; }

.title {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  color: orange; }

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem; }

.text-primary {
  color: #17a2b8; }

.pageContainer {
  display: flex;
  flex-direction: column;
  height: 100vh; }

.mainBodyContainer {
  height: 100%; }

.mainContentContainerOuter {
  max-width: calc(max(75rem, 66%));
  margin: auto;
  grid-template-columns: 1fr 2fr 1fr;
  background-color: #edf7fd;
  height: 100%;
  padding-bottom: 4rem;
  padding-top: 2rem; }

.mainContentContainerInner {
  max-width: calc(min(62.5rem, 90%));
  height: 100%;
  margin: auto auto;
  grid-template-columns: 1fr 2fr 1fr;
  background-color: #edf7fd;
  display: flex;
  flex-direction: column;
  align-items: center; }

.footerContainerOuter {
  margin: auto auto;
  display: block;
  max-width: calc(max(75rem, 66%));
  background-color: #edf7fd;
  height: 5rem;
  border-top: 2px solid #343a40; }

.footerContainerInner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none; }
  .btn-primary {
    background: #17a2b8;
    color: #fff; }
  .btn-light {
    background: #f4f4f4;
    color: #333; }
  .btn:hover {
    opacity: 0.8; }

.spinnerContainer {
  width: 200px;
  margin: 'auto';
  display: 'block'; }

.spinner-button {
  width: 40px; }

.spinner-tiny {
  width: 20px; }

.form {
  margin: 1rem 0rem; }
  .form-group {
    margin: 1.2rem 0; }
  .form-error-message {
    color: #dc3545;
    margin-top: 1rem;
    margin-bottom: 1rem; }
  .form-error-field {
    border-color: #dc3545 !important; }
  .form input[type='text'],
  .form input[type='email'],
  .form input[type='password'],
  .form input[type='date'],
  .form select,
  .form textarea {
    display: block;
    width: 100%;
    padding: 0.4rem;
    font-size: 1.2rem;
    border: 1px solid #ccc; }
  .form input[type='submit'],
  .form button {
    font: inherit; }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px #17a2b8;
  opacity: 0.9; }
  .navbar ul {
    display: flex; }
  .navbar a {
    color: #fff;
    padding: 0.45rem;
    margin: 0 0.25rem; }
    .navbar a:hover {
      color: #17a2b8; }

.bg-dark {
  background: #343a40;
  color: #fff; }

.landing-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; }

.dashboardFilterContainer {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.dashboardListContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, calc(min(20rem, 95%)));
  margin-top: 3rem;
  margin-bottom: 3rem;
  gap: 1rem;
  justify-content: center; }

.dashboardListCard {
  height: 24rem;
  display: block;
  border: black;
  border-style: solid; }
