*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  min-height: 100%; }

body {
  min-height: 100%; }

#root {
  background-color: #fff;
  min-height: 100%; }

a {
  color: #17a2b8;
  text-decoration: none; }

ul {
  list-style: none; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.6; }

.lead {
  font-size: 1.5rem;
  color: #777; }

.title {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  color: orange; }

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem; }

.text-primary {
  color: #17a2b8; }

.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.mainBodyContainer {
  min-height: 100%;
  flex: 1;
  display: flex; }

.mainContentContainerOuter {
  max-width: calc(min(75rem, 100%));
  margin: 0 auto;
  grid-template-columns: 1fr 2fr 1fr;
  background-color: #edf7fd;
  min-height: 100%;
  padding-bottom: 4rem;
  padding-top: 0rem;
  flex-grow: 1; }

.mainContentContainerInner {
  max-width: calc(min(62.5rem, 100%));
  height: 100%;
  margin: auto auto;
  grid-template-columns: 1fr 2fr 1fr;
  background-color: #edf7fd;
  display: flex;
  flex-direction: column;
  align-items: center; }

.footerContainerOuter {
  margin: auto auto;
  display: block;
  max-width: calc(min(75rem, 100%));
  background-color: #edf7fd;
  height: 5rem;
  border-top: 2px solid #343a40; }

.footerContainerInner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.underlay {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 225, 169, 0.219); }

.btn {
  display: inline-block;
  background: #f4f4f4;
  color: #343a40;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none; }
  .btn-primary {
    background: #17a2b8;
    color: #fff; }
  .btn-light {
    background: #f4f4f4;
    color: #333; }
  .btn:hover {
    opacity: 0.8; }

.buttons {
  margin: 1rem; }

.spinnerContainer {
  width: 200px;
  margin: 'auto';
  display: 'block'; }

.spinner-button {
  width: 40px; }

.spinner-tiny {
  width: 20px; }

.form {
  margin: 1rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 1rem; }
  .form-error-message {
    color: #dc3545;
    margin-top: 1rem;
    margin-bottom: 1rem; }
  .form-error-field {
    border-color: #dc3545 !important; }
  .form input[type='text'],
  .form input[type='email'],
  .form input[type='password'],
  .form input[type='date'],
  .form select,
  .form textarea {
    display: block;
    width: 100%;
    padding: 0.4rem;
    font-size: 1.2rem;
    border: 1px solid #ccc; }
  .form input[type='submit'],
  .form button {
    margin-top: 1rem;
    font: inherit; }

.dropDown {
  position: absolute;
  top: 1.5rem;
  background-color: #edf7fd;
  border: black;
  border-style: solid;
  border-width: thin;
  overflow: visible;
  z-index: 2; }

.dropDownItem {
  color: orange;
  padding: 0 0.5rem;
  cursor: pointer; }
  .dropDownItem:hover {
    background-color: #e6e6e6; }
  .dropDownItem-selected {
    background-color: #e6e6e6; }
  .dropDownItem-checkbox {
    display: flex;
    align-items: center; }
  .dropDownItem-name {
    margin-right: auto; }
  .dropDownItem-icon {
    margin-left: 0.5rem; }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px #17a2b8;
  opacity: 0.9; }
  .navbar ul {
    display: flex; }
  .navbar a {
    color: #fff;
    padding: 0.45rem;
    margin: 0 0.25rem; }
    .navbar a:hover {
      color: #17a2b8; }

.bg-dark {
  background: #343a40;
  color: #fff; }

.landing-inner {
  color: #fff;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; }

.dashboardFilterControlBar {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  position: relative; }
  .dashboardFilterControlBar-hr {
    width: 100%;
    grid-column: 1 / 3;
    grid-row: 2; }
  .dashboardFilterControlBar-newList {
    margin: 0 auto; }
  .dashboardFilterControlBar-filters {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: visible; }
  .dashboardFilterControlBar-item {
    margin: 0 auto;
    color: orange;
    overflow: visible;
    cursor: pointer; }
    .dashboardFilterControlBar-item:hover {
      color: #db8f00; }
    .dashboardFilterControlBar-item-active {
      color: #db8f00; }

.dashboardListContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, calc(min(20rem, 95%)));
  margin-top: 1rem;
  margin-bottom: 1rem;
  gap: 1rem;
  justify-content: center; }

.dashboardListPreviewCard {
  height: 24rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-color: black;
  border-style: solid;
  cursor: pointer;
  background-color: #f4f4f4;
  color: #777; }
  .dashboardListPreviewCard:hover {
    color: #343a40;
    opacity: 1;
    border-color: orange; }

.childListPreviewCard {
  height: 24rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-color: black;
  border-style: solid;
  cursor: pointer;
  background-color: #f4f4f4;
  color: #777; }
  .childListPreviewCard:hover {
    color: #343a40;
    opacity: 1;
    border-color: orange; }

.newListControls {
  display: grid;
  grid-template-columns: calc(min(30rem, 100%)) 2fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%; }
  .newListControls-hr {
    width: 100%;
    grid-column: 1 / 3;
    grid-row: 2;
    height: min-content; }
  .newListControls-selectorContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 1.5rem;
    grid-column: 1 / 2;
    grid-row: 1;
    width: 100%; }
  .newListControls-button {
    text-align: center;
    color: orange;
    height: 1.5rem;
    width: 100%; }
    .newListControls-button:hover {
      background-color: #e6e6e6; }
    .newListControls-button-active {
      background-color: #e6e6e6; }

.newListContent {
  background-color: darkgreen;
  width: 100%;
  height: 100%;
  display: grid; }
  @media (min-width: 1000px) {
    .newListContent {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 2fr; } }
  @media (max-width: 1000px) {
    .newListContent {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 8fr 2fr; } }

.newListExample {
  background-color: brown;
  width: 100%; }
  @media (min-width: 1000px) {
    .newListExample {
      grid-row: 1/3;
      grid-column: 1; } }
  @media (max-width: 1000px) {
    .newListExample {
      grid-row: 2;
      grid-column: 1; } }

.newListDescription {
  background-color: chartreuse;
  width: 100%; }
  @media (min-width: 1000px) {
    .newListDescription {
      grid-row: 1;
      grid-column: 2; } }
  @media (max-width: 1000px) {
    .newListDescription {
      grid-row: 1;
      grid-column: 1; } }

.newListForm {
  background-color: cornflowerblue;
  width: 100%; }
  @media (min-width: 1000px) {
    .newListForm {
      grid-row: 2;
      grid-column: 2; } }
  @media (max-width: 1000px) {
    .newListForm {
      grid-row: 3;
      grid-column: 1; } }
